<%= stylesheet_link_tag  "ex", media: "all", "data-turbolinks-track" => true %>
<div class= "ex"> </div>
<div class ="ex1"> hhhhjhhjg</div>

<div id="content">
   
      <article id ="home">
        <section>
           <h2>Равиль Тумашев</h2>
           <h3>режиссер</h3>
         <h3>Сейчас: 91 год</h3> 
         <h3>в 1941 г.: было 18 лет</h3>
        <p><%= image_tag("v1.png", alt: "Равиль Тумашев", id: "v1")%>Я за одной партой сидел с другом Вячеславом Алимасовым, потом он стал ученым, доктором технических наук. Выпускной у нас был 21 июня. Мы, выйдя из школы, шли со Славой по улице и напевали «Если завтра война, если завтра поход, будь сегодня к походу готов».  Для нас не было неожиданностью, что немцы готовились напасть, но что война завтра наступит, мы не знали, конечно. Нас никто не спрашивал, хотим мы воевать или нет. Мы были призывниками, нас собрали и велели ехать на «пристань». Славу тогда не взяли, у него зрение было плохое, а мы с одноклассниками сели на первый трамвай и поехали. Оттуда нас всех отправили в Чкаловское зенитное училище.</p>
        <p>Помню, в ночь с 4 на 5 июля 1943 года я получил шифрограмму от командования 307 стрелковой дивизии - немцы хотят начать наступление раньше. Я рванул к командующему армией  Николаю Павловичу Пухову. Часовой мне - пустить не могу, у Пухова важный гость. Я ему говорю: «А если я этому гостю и нужен прямо сейчас?» Часовой разрешил пройти. Я вошел и увидел высокого генерала, козырнул ему так нагло и сказал: «Разрешите обратиться к командующему армии?» Он, конечно, ухмыльнулся от такой смелости и сказал - обращайтесь. Это был мой самый короткий диалог с генералом армии Константином Константиновичем Рокоссовским.  Он приехал, чтобы взять командование на Курской дуге. Так я начал эту операцию своим появлением в кабинете Рокоссовского. 5 июля 1943 года началась знаменитая Курская битва, ставшая переломным сражением Великой Отечественной войны.</p>
        </section>
         <section id= "second">
           <h2>Вячеслав Кузьмин, режиссер </h2>
         <h3>Сейчас: 18 лет</h3> 
        <p><%= image_tag("b1.png", alt: "", id: "v1")%>у меня 23 июня в школе был выпускной, мы до двух ночи в ресторане веселились. Сейчас все мои мысли только о кино. Я собираю статьи про себя: вот тут меня назвали автором блокбастрера, а это в позапрошлом году журналисты приезжали, делали репортаж со съемок фильма «Лифт Ангела». Самый удачный  фильм это «Шалаш», вы обязательно посмотрите! Это моя первая короткометражка. Она посвящена Дню матери. А сейчас мы снимаем фильм «Куклы». </p>
        <p>У меня дед был ранен в 42-ом и лежал в госпитале, а потом в тылу работал. Но про войну я никогда не хотел кино снять, там костюмы нужны. Где их взять? Мы сейчас деньги на  объектив и штатив собираем. Тысяч 20 нужно, мне бабушка помогла - 8 тысяч дала.</p>
        <p>Чувство патриотизма у меня и моих сверстников есть и случись война, многие, наверное, пойдут защищать страну. </p>
      </section>
      </article>
      <article id = "one">
        <h2>Article one</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
      <article id = "two">
        <h2>Article two</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
      <article id = "three">
        <h2>Article three</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
      <article id = "four">
        <h2>Article four</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
    </div>